body {
    margin: 20px;
    font-family: 'Noto Serif', serif;
    
}


ul {
    list-style: none;
    display: table-footer-group;
    
    
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    background-image: url(./assets/bground.jpg);
    background-position: top center;
    background-size: 100% auto;
    color: white;
    font-weight: bolder;
    border-bottom: 10px solid #515153;
    margin: 0 auto;
    
}


.border-blue {
    border: 1px dotted blue;
    
}